<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <p>{{msg}}</p>

        <form action="/login", method="POST">
            <input type="text" , id="username" , name="username" , placeholder="username here...">
            <input type="password" , id="password" , name="password" , placeholder="password here...">
            <br><br>
            <button type="submit">Login Now</button>
        </form>
    </div>
     <h2>Dont have an account?</h2> <a href="/register">Register Now</a>
</body>
</html>