<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<body>
    <div>
        <p>{{msg}}</p>

        <form action="/register_user", method="POST">
            <input type="text" , id="username" , name="username" , placeholder="Enter password">
            <input type="password" , id="password" , name="password" , placeholder="Enter password">
            <br><br>
            <input type="email" , id="email" , name="email" , placeholder="email here...">
            <button type="submit">Register Now</button>
        </form>
       
    </div>
</body>

</html>